<form id="add">
    <input type="text" placeholder="coffee_name" id="coffee_name" placeholder = "coffee_name">
    <input type="text" placeholder="producer" id="producer" placeholder = "producer">
    <input type="text" placeholder="coffee_bean" id="coffee_bean" placeholder = "coffee_bean">
    <input type="text" placeholder="brew_method" id="brew_method" placeholder = "brew_method">
    <input type="text" placeholder="taste" id="taste" placeholder = "taste">
    <input type="text" placeholder="rate" id="rate" placeholder = "rate">
    <input type="text" placeholder="price" id="price" placeholder = "price">
    <input type="text" placeholder="location" id="location" placeholder = "location">
    <textarea type="text" placeholder="notes" id="notes" placeholder = "notes">
</form>
       <button class="button">Save</button>