<div class="columns is-desktop">
   <!--Registration-->
		<div id="register" class="column is-half">
      <h1>Options go here:</h1>

      
    </div>
  <!--Login-->
  	<div id="notes" class="column is-half">
      <textarea class="textarea" placeholder="Type your notes here:"></textarea><br>
      <button class="button">
        <span class="icon is-small">
          <i class="fas fa-check"></i>
        </span>
        <span>Save</span>
      </button>
    </div>
</div>
<!--footer image-->
<div class="footerbg">
  <br>
  <br>
  <br>
</div>
  <!-- Site Footer -->
