<form class="box" id="login">
  <div class="field">
    <label class="label">Username:</label>
        <div class = "control">
            <input type="text" placeholder="username" id="username">
    </div>

    <div class="field">
    <label class="label">Password:</label>
        <div class = "control">
            <input type="password" placeholder ="password" id="password">
        </div>
    </div>
    <button class="button" type="submit" value ="login">Login</button>
</form> 