
<form class="box" id="signup">
  <div class="field">
    <label class="label">Username:</label>
        <div class = "control">
            <input type="text" placeholder="username" id="username">
    </div>

  <div class="field">
    <label class="label">Password:</label>
        <div class = "control">
            <input type="password" placeholder ="password" id="password">
        </div>
    </div>
<button class="button" type="submit" value ="sign up">Sign Up</button>
</form> 