#main {
	position: relative;
	background-image: url('/img/bg2.png');
	background-position: bottom center;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Open Sans', sans-serif;
}
.footer {
	background-color: white;
	padding: 1%;
}

.hero {
	width:100%;
	text-align:center;
	display:inline-block;
	margin: 0 auto;
}

.hero .navbar {
     background: white;
}

.welcome {
	background-color: white;
	padding: 5%;
}

.columns {
	width:100%;
	text-align:center;
	display:inline-block;
	margin: 0 auto;
}

#first {
		padding: 15%;
}

